{:source-paths ["src" "test" "bench"]
 :dependencies [[org.clojure/clojurescript "1.12.134"]]
 :builds {:test {:target :node-test
                 :output-to "target/test.js"}
          :bench {:target :node-script
                  :output-to "target/bench.js"
                  :main carbon.rx-bench/main}}}
